[2019-06-27 06:30] Kevinwochan opened #30 "URL routing bug"
when trying to access some blog posts, the page loads but then users are redirected to an invalid URL e.g

https://ocius.com.au/blog/7863/ is redirected to https://blog/7863//

https://ocius.com.au/blog/ocius-successfully-completes-seatrials is redirected to https://blog/ocius-successfully-completes-seatrials//
https://ocius.com.au/blog/ocius-successfully-completes-seatrials/ (with the '/' works)

[2019-07-27 19:07] r007 commented on #30
I think I've seen somewhere a similar issue, don't remember where. This project was configured to use trailing slashes:
[code]
But we can simply use ```path: post.fields.slug``` instead of

[code]
I fixed it. @thomasdane, can you accept my pull request and then @Kevinwochan can you check if issue resolved or not? Thanks.

[2019-08-02 23:17] thomasdane commented on #30
The PR to fix this is merged https://github.com/ocius/website/pull/33 @Kevinwochan please let me know if it's not resolved.

[2019-08-03 01:02] Kevinwochan commented on #30
:cry: still doesn't seem to work
Interestingly, the URLs work on localhost e.g http://localhost:8000/blog/ocius-successfully-completes-seatrials .

Could this be an server side issue rather than a gatsby issue?

[2019-08-04 19:45] r007 commented on #30
Kevin, yeah you're right. The URL routing bug has been fixed on localhost, but I still see it on production website. Interestingly enough, some URLs work fine, for example:
https://ocius.com.au/blog/prototype-bob-begins-sea-trials-off-nsw-coast
https://ocius.com.au/blog/ocius-demonstrates-man-portable-usv-prototype-at-aw18
https://ocius.com.au/blog/defence-connect-ocius-technology-awarded-defence-

[2019-09-05 05:01] Kevinwochan opened #42 "undefined symbol in gatsby sharp"
Trying to run, ```gatsby develop``` but i'm getting this error.

[code]
![image](https://user-images.githubusercontent.com/18486383/64312888-30891600-cfed-11e9-8d00-491e25b1b2b3.png)

[2019-09-05 10:46] r007 commented on #42
Most likely this is because of an outdated **libvips** library. If you're on Ubuntu, try to delete ```node_modules``` and reinstall all the packages again:
[code]

If that doesn't help, try to do the following:

1. Check which version of operational system you use. If you see 18.10 LTS it means that you're on stable branch, hence the letters LTS (long-term support). All packages in such versions a

[2019-09-05 10:54] r007 commented on #30
This problem seems be solved when we moved from AWS S3 -> AWS Amplify. Check this out:

https://live-page.d3mmixckvnis5d.amplifyapp.com/blog/7863
https://live-page.d3mmixckvnis5d.amplifyapp.com/blog/ocius-successfully-completes-seatrials
https://live-page.d3mmixckvnis5d.amplifyapp.com/blog/ocius-begins-intelligent-network-trials

Turns out to be hosting issue.

[2019-09-05 16:31] Kevinwochan commented on #42
My computer didnt have libvips and ubuntu 16.04 only goes up to 8.2.2, i compiled it manually with
https://libvips.github.io/libvips/install.html

[code]
But now i'm getting this error (scroll to bottom)
[code]

[2019-09-05 17:16] r007 commented on #42
Ubuntu 16.04 is quite old. The fact that webpsave_buffer is not found tells me that you compiled libvips without webp support. As much as I know, webp support is completely optional. You need to add an appropriate flag, see ```./configure --help```. Please re-run installation.

[2019-09-16 02:29] Kevinwochan commented on #42
I had some issues configuring the compilation so i bit the bullet and upgraded to 18.04 and it worked!

[2019-09-16 02:29] #42 closed

[2019-09-16 02:49] r007 commented on #42
Okay, it's good to hear :)

[2019-09-25 00:17] Kevinwochan commented on #30
Are all production servers now on AWS Amplify now?
Some of the team is still having issues with certain links
E.g
https://ocius.com.au/blog/abc-news-navy-explores-use-of-autonomous-vehicles-for-dangerous-dirty-and-dull-work/

https://ocius.com.au/blog/ocius-demonstrates-man-portable-usv-prototype-at-aw18/

[2019-10-05 13:17] r007 commented on #30
Not yet. Ocius.com.au is not on Amplify yet. We migrated only https://www.ocius.cloud/ to AWS Amplify.

By the way, @Kevinwochan can you please always add ```featuredImage``` to blog posts, no matter what? It doesn't look too good on home page. Plus, PropTypes are throwing error if featured image is missing.

![Home page](https://user-images.githubusercontent.com/78280/66255371-b2f32a00-e793-11e9-

[2019-10-05 14:52] thomasdane commented on #30
@r007 @Kevinwochan ocius.com.au is now on amplify. All our URLs are deployed with amplify now.

[2019-10-05 14:56] thomasdane opened #47 "Popup does not close when clicking the map"
**Steps to reproduce**

Mobile:
- Open the sidebar or the camera popup
- Click the map

Desktop:
- Open a camera popup

**Expected**

The sidebar/popup should close

**Actual**

It does not close

[2019-10-05 15:00] thomasdane opened #48 "Text formatting broken on desktop"
**Steps to reproduce**

On desktop:
- Go to https://www.ocius.cloud/live/
- Increase zoom (for me on chromium on linux it still happens at 90% zoom)

**Expected**
- Side bar should expand to accommodate text

**Actual**

<img width="193" alt="formattingWhenZoomed" src="https://user-images.githubusercontent.com/2957318/66256775-1eaea600-e746-11e9-8470-d243f3055092.PNG">

[2019-10-05 15:13] thomasdane opened #49 "API key not reading from env vars"
**Steps to reproduce**

Go to https://www.ocius.cloud/live/

**Expected**

The map loads

**Actual**

It loads with a warning from Google Maps API

[2019-10-05 15:15] thomasdane opened #50 "Camera images not loading"
**Steps to reproduce**

- Go to https://www.ocius.cloud/live/
- Click on boat to see popup

**Expected**

- Camera image should show
- On mobile, should be able to swipe between multiple images
- On desktop, should be able to click between multiple images

**Actual**

- No camera image shows

[2019-10-06 19:25] r007 commented on #50
Done, added slider. Also, an application uses camera images from API.

[2019-10-06 19:25] #50 closed

[2019-10-06 19:27] r007 commented on #49
Done, had to commit .env file into repository https://github.com/ocius/website/blob/live-page/.env.production

[2019-10-06 19:27] #49 closed

[2019-10-06 19:38] r007 commented on #48
Done. Should be fixed now. Take a look.

[2019-10-06 19:38] #48 closed

[2019-10-06 20:03] thomasdane opened #51 "Battery info obscured by browser nav"
**Steps to reproduce**

- On mobile, using chrome on iOS or brave on android, open the side bar

**Expected**

Can view second battery

**Actual**

Chrome iOS
![Screenshot_20191006-130143](https://user-images.githubusercontent.com/2957318/66275034-aaedc580-e839-11e9-83b7-8b9d3cbdd6df.png)

**Brave android**
![Screenshot_20191006-120203 (1)](https://user-images.githubusercontent.com/2957318/6627504

[2019-10-06 20:08] thomasdane opened #52 "Boat names do not match boat colors"
**Steps to reproduce**

Go to https://www.ocius.cloud/live/

**Expected**

- The colors of Bruce's name, snailtrail, and boat color are all the same
- The colors of Bob's name, snailtrail, and boat color are all the same

**Actual**

- Bruce's name is yellow, boat is blue, and snail trail is yellow.
- Bob's name is yellow, boat is yellow, and snail trail is blue.

[2019-10-07 06:07] thomasdane opened #53 "Toggling between drones triggers camera popup"
**Steps to reproduce**

- Go to live page
- Open sidebar
- Use drop down to switch between drones

**Expected**

- Sensor data changes

**Actual**

- Sensor data changes AND camera popup opens behind sidebar

[2019-10-07 06:30] thomasdane opened #54 "Camera popup loads off screen"
**Steps to reproduce**

- Go to live page
- Click on drone to open popup

**Expected**

- Full image is visible

**Actual**

- Top of image loads offscreen

<img width="480" alt="cameraOffScreen" src="https://user-images.githubusercontent.com/2957318/66289357-4fe7bd00-e891-11e9-8612-2916bd982394.PNG">

[2019-10-07 06:32] thomasdane commented on #47
This is now fixed for the sidebar. Thanks @r007 ! We are discussing a solution for the camera popup.

[2019-10-07 09:16] peterwlodarczyk opened #55 "Camera images not timely"
On the live page, the cameras don't update at the correct rate. Seems like once every few minutes.
usvna page updates every 2 seconds.

[2019-10-07 09:58] r007 commented on #51
Check out, should be fixed by now. You should be able to scroll the sidebar.

[2019-10-07 09:58] #51 closed

[2019-10-07 10:15] r007 commented on #55
Yes, I've noticed this behaviour. But this is related to API, need to ask @thomasdane what fetching rate he's using. The whole idea of fetching images from usvna and storing them in AWS S3 is very inefficient in the long run. As more and more images will gather up...

[2019-10-07 14:23] r007 commented on #53
Done, the InfoWindow won't show off on small screens (<= 1056px) if user selected another drone in dropdown. But it will center and zoom the map to draw attention to that drone. Is that what you wanted? On big screens it will open popup as usual.

[2019-10-07 14:23] #53 closed

[2019-10-07 14:29] thomasdane commented on #53
This is great @r007 thanks so much

[2019-10-07 14:30] thomasdane commented on #51
Great stuff @r007

[2019-10-07 15:02] thomasdane commented on #55
Thanks for the report @peterwlodarczyk ! Yes I had the camera refresh set to every 5 minutes. I have now increased it to every minute. At the moment, that's about as fast as makes sense because the load time of an image is about 30 seconds https://www.webpagetest.org/result/191003_NB_8ae27fa2d057cb611da0cec614fcb2d5/

If that changes, I could fetch new images faster.

[2019-10-08 11:28] r007 commented on #52
Done. Code was refactored and all drones are now connected with their locations and have the same color.

[2019-10-08 11:33] r007 commented on #30
Checked again, everything seems to be working fine. I'm closing this issue, feel free to re-open if needed.

[2019-10-08 11:33] #30 closed

[2019-10-08 14:10] r007 commented on #54
Can you elaborate, please? On which devices it happens? I can't reproduce it on local machine. Every time I click on marker, the screen is centered so popup never really go off the screen.

[2019-10-09 00:32] thomasdane commented on #52
This is great @r007 . Thank you! Could the name colors also match? Right now for me, both drones have a yellow name. Would be good if the name colors could match the boat/snailtrail colors.

[2019-10-09 00:35] thomasdane commented on #47
@r007 if the solution to this is difficult, we could make the 'x' in the popup larger by using the different popup types you mentioned.

[2019-10-09 00:43] thomasdane opened #58 "Swap hamburger icon for options icon"
Instead of the current icon on mobile (hamburger) could we please use something like this:

https://fontawesome.com/icons/sliders-h?style=light
https://fontawesome.com/icons/sliders-h?style=duotone

[2019-10-09 00:45] thomasdane opened #59 "Add mobile nave to live page"
Currently on mobile, when you navigate to the live page, you lose the nav tabs at the bottom of the screen. This breaks flow, and means the user cannot progress through the site unless they hit the back button.

Could we please add the mobile nav to the live page?

[2019-10-09 00:50] thomasdane opened #60 "Make mobile nav the same size as rest of site"
**Steps to reproduce**

- Go to the homepage on mobile
- Note the size of the logo and the height of the div containing the logo
- Go tot the live page on mobile
- Note the size of the logo and the height of the div containing the logo

**Expected**

- Logo and div are the same dimensions

**Actual**

- Mobile is smaller.

![Screenshot_20191008-174800](https://user-images.githubusercontent.com/295

[2019-10-09 00:56] thomasdane opened #61 "Make focus around drone names same as focus on rest of site"
**Steps to reproduce**

- On mobile, open side of live page
- Click drone name to change drones
- Notice focus color (default link blue)

**Expected**

- Focus color is light blue used on rest of site

**Actual**

- Focus color is default link blue

![Screenshot_20191008-175244](https://user-images.githubusercontent.com/2957318/66443721-fdbfac80-e9f4-11e9-866c-fc84695ca045.png)

[2019-10-09 13:27] r007 commented on #61
Okay, did that.

[2019-10-09 13:27] #61 closed

[2019-10-09 20:49] r007 commented on #58
Okay done, did as you said. That icon was hard coded in carbon components, so I had the whole component to swap icon.

[2019-10-09 20:49] #58 closed

[2019-10-09 22:00] r007 commented on #52
No problem. The color of the label was chosen on purpose. Because yellow is bright and contrasting with the map, so the main goal was to make labels readable. While blue color is hard to read, especially if boat is in the ocean. Blue color of the ocean + blue label = unreadable. Hope this makes sense.

[2019-10-10 00:57] r007 commented on #59
I can, but are you sure it's a good idea? The bottom nav will shrink the visual space even more.

[2019-10-10 02:07] r007 commented on #47
Yes, but there is one "but"... InfoBubble and InfoBox are third party libraries which are built on top of native OverlayView. InfoBubble has only [node port](https://github.com/Anton-Nikishkin/node-js-info-bubble) and needs to be ported on React. It's no longer maintained at the moment. Though InfoBox has React port as much as I know...

[2019-10-10 22:25] r007 commented on #60
Refactored that part, now they both have the same size.

[2019-10-10 22:25] #60 closed

[2019-10-10 23:38] r007 commented on #59
Done, added mobile nav to live page.

[2019-10-10 23:38] #59 closed

[2019-10-11 03:29] Kevinwochan opened #62 "Feature Request: Media Page"
Have a page that displays Media Coverage of OCIUS.
E.g ABC News writes an article about us, the page should have a link to that article
Channel 9 News, the page will have a link to the footage

[2019-10-15 00:55] matthewmcgill opened #63 "Live Page is blank"
The live page is currently blank.  No detail on any boats.  Clicking through to Advanced page show data getting to the public server but new Live page isn't showing it.  No errors reported in the console.

[2019-10-16 14:37] thomasdane commented on #55
@peterwlodarczyk closing this issue for now. Next time we have a mission, I can set the camera fetching to be as fast as we need it.

[2019-10-16 14:37] #55 closed

[2019-10-16 15:03] thomasdane commented on #63
Hi @matthewmcgill thanks so much for raising this! Good spot - after the mission/Pac2019 was over, I turned off the fetching of new data. I've turned it back on, but on a 30 minute interval. You should see new data flowing through now. For future reference, here is the endpoint the frontend uses to get new data https://api.ocius.com.au/drones

[2019-10-16 15:03] #63 closed

[2019-10-16 15:16] thomasdane opened #65 "Over-caching of home page"
**Steps to reproduce**

- Publish a new version of the website (merge a PR to master)

**Expected**

- New changes should be visible when loading the page

**Actual**

- Viewing new changes requires a hard refresh or incognito browser

**Possible cause and solution**

<img width="568" alt="homePageCache" src="https://user-images.githubusercontent.com/2957318/66932919-2cd5af80-efed-11e9-8b6e-d17b75

[2019-10-16 15:18] thomasdane opened #66 "Make camera names dynamic"
Currently we have hardcoded the names of the cameras to fetch:

https://github.com/ocius/api/blob/master/Services/GetCameraImages/src/GetCameraImages/Function.cs#L24

This should be dynamic - pulled from https://usvna.ocius.com.au/usvna/oc_server?listcameranames

[2019-10-17 05:32] r007 commented on #65
Well, yes, if service worker was installed, browser is always trying to retrieve the local version first.

Usually it's not a problem, because the service worker updates automatically when the browser detects that the contents of the ```sw.js``` file have changed from the currently installed version. Upon an update, Gatsby clear all whitelisted paths to prevent old pages from loading after the upd

[2019-10-17 14:25] Kevinwochan opened #68 "[Feature Request] Mailchimp Integration"
Mailchimp provides an API but also generates the form, below is the generated html
[code]

[2019-10-17 23:26] r007 commented on #68
Hi Kevin!
Can you elaborate what this form is all about? And where should it be placed? What about design?

Unfortunately, an HTML code won't work in this application. I have to create a new component for this.

[2019-10-18 18:07] r007 commented on #65
Done, removed the broken Service Worker. I think users won't notice anything, after some time we can re-install it if needed. Please check, the caching problem should be fixed now.

[2019-10-18 18:07] #65 closed

[2019-10-20 01:24] r007 commented on #68
Done. The client side form has been implemented. I placed it in sidebar, as it is one of the most high-converting places for newsletters.

The form also has a honeypot protection against bots. See it live here:
https://www.ocius.cloud/news (sidebar section)

![newsletter](https://user-images.githubusercontent.com/78280/67153332-6a418200-f2f8-11e9-8db1-9b6f84de36fb.png)

[2019-10-20 01:24] #68 closed

[2019-10-21 14:35] thomasdane opened #70 "Improve homepage performance"
If you navigate to

https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://ocius.com.au

You can see the performance of our homepage.

- Under performance, the main issues are JS execution time and main thread work. Can we address these?
- It also shows that browser errors were logged to the console. Can we fix that?
- ~~Finally, it looks like we are not caching our images? The respo

[2019-10-24 02:17] thomasdane commented on #70
The cache-control headers are now fixed - set to `public,max-age=31536000,immutable`. I used the amplify custom headers discussed here https://forums.aws.amazon.com/message.jspa?messageID=909307#909307

[2019-10-24 04:32] r007 commented on #70
The JS execution time & main thread work can only be reduced by dynamic code splitting, see [loadable-components](https://dev.to/itmayziii/better-performance-using-dynamic-code-splitting-in-gatsby-with-loadable-components-6am). Or even [gatsby-plugin-no-javascript](https://www.gatsbyjs.org/packages/gatsby-plugin-no-javascript/), which is a bit extreme.

Okay, will remove errors from console.

I do

[2019-11-01 17:38] r007 opened #83 "Website error: navigator.serviceWorker is undefined"
Proposed solution:

Remove custom code from index page. Also, service workers don't work in private mode, so this code will always throw an error when user in private mode. https://github.com/ocius/website/blob/30d6dab31faf881966e296667cee8303ce107fa8/src/pages/index.js#L41

[2019-11-01 19:47] r007 commented on #83
Fixed.

[2019-11-01 19:47] #83 closed

[2019-11-15 19:07] thomasdane opened #91 "Improvement: Add loading text to live page"
Currently when the live page loads, the map shows quickly, but the drones take more time to load.

This is partly due to the slow load time of AWS API gateway. Largely, this API load time is out of our control.

To improve perceived performance on the live page, while it is loading the drones can we please add some text at the bottom?

Some examples of other places this is done:

**Google Lighthou

[2019-12-04 08:10] r007 commented on #62
Hi @Kevinwochan

Here's the first iteration of design:

https://www.youtube.com/watch?v=fE1uumjO3tM

I implemented tabs to switch between blog posts and media coverage page. On mobile they turn into dropdown. The source for media page is the Yaml file, all the links are taken from ```/src/media/links.yml```, this file has the following format:

[code]

You can see the ```thumbnails``` folder as we

[2019-12-04 08:14] r007 commented on #62
Hmm, for some reason, staging website https://www.ocius.cloud is not updating. Even though I merged into 'stage' branch. @thomasdane do you have any ideas?

[2019-12-05 17:36] r007 commented on #91
Done, added the splash screen. Here's the demo:
https://www.youtube.com/watch?v=LtYo2T1AwUY

Right now there is only one API request, so I used this sentence - "Connecting to drones".

[2019-12-07 14:29] Kevinwochan commented on #62
@r007 this looks beautiful!

@Media Coverage Page:
I really like the card design. Can you work in the media organisation's logo? (e.g ABC News Logo) the logos are to show the amount of attention OCIUS is receiving from well known and respected companies.

@Tabs: I agree, a tabbed page is less intimidating to read and makes the content more accessible. For a long time I've wanted to split the About

[2019-12-07 22:46] r007 commented on #62
@Kevinwochan thanks, glad to hear it. Sure, added the media organisation logo. Check this out:  https://www.ocius.cloud

My only concern about tabs is when user gets to the about page from outside. Not sure how to correctly handle it.

[2019-12-09 06:31] Kevinwochan commented on #62
@r007 Looks great! :thumbsup:

I see what you mean.
Happy to just drop the routing (e.g "/about/awards") and have it all under "/about/", so the component works more like a [tab list.](https://reactcommunity.org/react-tabs/)
Or[ use the URL path](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/api/location.md) to set selected.

[2019-12-09 09:55] r007 commented on #62
@Kevinwochan thanks. I already tried react-tabs and many other solutions. The problem with **react-tabs** is that they are not really mobile-friendly. If I would use react-tabs, will be two or three lines of tabs on mobile. Which is kind of ugly.

Another issue with react-tabs is that navbar links won't work. You won't be able to link to particular section, let's say "our story". URL path works on

[2019-12-09 11:18] Kevinwochan commented on #62
@r007 sounds good.

@thomasdane can we test these redirects?

[2019-12-10 04:48] r007 commented on #70
Alright. Almost done, here are some of the changes I've made:

- Added code splitting by components in critical places (using loadable-components).
- Removed **lottie** from dependencies (replaced with custom loading spinner).
- Reduced bundle size by importing only one function from '**lodash**'.
- Reduced bundle size by importing only Header/LeftNav from '**carbon-components**'.

By inspecting i

[2019-12-10 08:56] r007 commented on #70
Filled a bug report on carbon-components-react https://github.com/carbon-design-system/carbon/issues/4847 Will be waiting for an update.

[2019-12-10 16:00] thomasdane commented on #70
Amazing work Sergey! Thankso so much.

[2019-12-10 16:04] thomasdane commented on #62
@Kevinwochan maybe we can do a quick call to discuss the redirects? Currently we don't deploy prod with amplify - I reverted to custom CI when we had the service worker issues. We should standardize it - either both on amplify, or both on custom CI. We can discuss on the call too. I am free your Monday morning.

[2019-12-10 16:08] thomasdane commented on #91
Great work @r007 . Makes sense about the single API request. On mobile, I've seen long load times. How hard is it to have several? If it's a lot of effort, let's just keep one. If it's easy, then please add them all. I don't have a strong preference - one is fine. If we do have one, could it please say "Connecting to satellite'

[2019-12-12 04:06] r007 commented on #91
@thomasdane thanks. Most likely it's because of the bundle size, **carbon-components** is a vastly bloated library, this is the live page with dropdown (imported from carbon-components-react).

![webpack1](https://user-images.githubusercontent.com/78280/70681456-e3d06d80-1cb4-11ea-9f26-9e88415435e3.png)

And this is the page without:

![dropdown1](https://user-images.githubusercontent.com/78280/70

[2019-12-12 04:24] r007 commented on #62
@thomasdane yes we can. Monday works for me.

[2019-12-15 23:54] thomasdane commented on #66
Will work on this before the next sea trial in February.

[2019-12-15 23:58] thomasdane commented on #54
Thanks Sergey. Sorry for not providing more detail. This is a low priority. I'll close for now but I can re-open closer to February if we have time.

[2019-12-15 23:58] #54 closed

[2019-12-15 23:59] thomasdane commented on #52
Great work @r007 . Closing.

[2019-12-15 23:59] #52 closed

[2019-12-16 22:04] r007 commented on #70
@thomasdane I think we can close this issue. The biggest bundle size was on "LIVE" page, I reduced it from 1.7-1.5 MB to 474 KB. I hope IBM developers will help me to shrink bundle size even more - to ~370 KB. Will be waiting for an update.

[2019-12-16 22:04] #70 closed

[2019-12-16 22:58] r007 commented on #47
Done, I come up with an interesting solution. It is fixed now. I'm closing the issue.

[2019-12-16 22:58] #47 closed

[2019-12-17 00:48] thomasdane commented on #62
This is now deployed. Please report any 404s but homepage redirects we can fix next phase. I think this ticket can now be closed?

[2019-12-17 00:50] thomasdane opened #97 "Kevin to add a github profile pic!"
![giphy](https://user-images.githubusercontent.com/2957318/70954971-14e9ce80-2024-11ea-9164-f1a73dc274dd.gif)

[2019-12-17 01:30] r007 commented on #62
@thomasdane please don't close yet. All the routing /about/partners, /about/our-story etc. happens on the client side. Redirects are needed to correctly handle such situations.

Here for example:
https://ocius.com.au/about/our-story

[2019-12-17 01:36] #62 closed

[2019-12-17 01:42] r007 opened #98 "Add server-side redirects to "about" page"
All the routing /about/partners, /about/our-story etc. happens on the client side. Redirects are needed to correctly handle such situations.

Here for example:
https://ocius.com.au/about/our-story

Let's try these variants (not sure which one will work):

| Source address | Target address |
|-----------------|-----------------|
| /about/<*>      | /about/<*>      |
| /about/<*>      | /about/

[2019-12-18 16:11] thomasdane opened #99 "On usv page, move the video below the fold"
If you go to https://ocius.com.au/usv the first thing that loads is a video.

On mobile especially, this loads slowly and shows white space until it loads.

Could we please move the video below the fold? So the first thing the user gets is the explanation text, and then if they scroll down they see the video?

@Kevinwochan please explain this to Robert and get his approval. The header of the page

[2019-12-18 16:13] thomasdane commented on #91
@r007 once loading text is done, let me know and we can close this issue. Sounds exciting about the carbon components bundle - could provide huge speed improvements.

[2019-12-18 20:21] r007 commented on #91
@thomasdane please check this issue first - https://github.com/ocius/api/issues/7. An autorotating text might not be needed after moving to LambdaNative. I bet we can reduce startup time from 1,000 ms down to 150-200 ms. If this is true, we can forget about rotating text.

[2019-12-19 04:00] Kevinwochan opened #100 "News drop down menu"
- blog
- media coverage
- press kit

[2019-12-19 04:02] Kevinwochan opened #101 "Redesign news page"
Robert: "I love the way the media coverage page is set out with thumbnails across top - can the blog page be set out the same?"

We can try reducing the spacing on the blog page for more information density before a complete re-design.

[2019-12-19 04:07] Kevinwochan opened #102 "Remove duplicate posts in "media coverage" and "blog" page"
For example, these two posts.
![image](https://user-images.githubusercontent.com/18486383/71144105-f4fb1a80-2270-11ea-82c9-42a6e90d8080.png)

![image](https://user-images.githubusercontent.com/18486383/71144119-03e1cd00-2271-11ea-8efc-61bb8f667b86.png)

Best not to delete those mark down files but move it somewhere else so we can archive them properly in the future.

[2019-12-20 07:22] Kevinwochan commented on #100
added media coverage links but still waiting on a secure solution for the press kit

[2019-12-20 07:25] Kevinwochan commented on #99
Approved by Robert

[2019-12-24 14:14] r007 commented on #102
Done, I implemented it. If you want to archive an article, simply add the "draft: true" to the header.

![draftpng](https://user-images.githubusercontent.com/78280/71416247-1301ba00-2679-11ea-946f-ee1f2f9b5f23.png)

The article won't be visible on the blog page (but the markdown file still will be available).

[2019-12-24 14:14] #102 closed

[2019-12-27 21:19] r007 commented on #99
@thomasdane we can replace YouTube video with [Video.js](https://videojs.com/city) player. YouTube video can be used as source. Alternatively, video can be hosted on S3 bucket with Cloudfront distribution. It could improve the speed. Just sayin'

[2020-01-06 13:28] #97 closed

[2020-01-16 05:27] thomasdane commented on #99
@r007 great suggestions for the next iteration! In the mean time, @Kevinwochan can you still raise a PR to move the video below the fold? We can investigate the other options after.

[2020-01-16 05:32] thomasdane commented on #91
@r007 responded https://github.com/ocius/api/issues/7#issuecomment-574990757

[2020-01-16 05:45] thomasdane opened #104 "Support case of one drone"
We built the live page on the assumption there are at least two drones. When there is a single drone online, the site is breaking.

<img width="593" alt="twoDrones" src="https://user-images.githubusercontent.com/2957318/72496988-30412880-37e0-11ea-9ba6-ce620a6551fb.PNG">

This a problem with the API design:

<img width="409" alt="duplicates" src="https://user-images.githubusercontent.com/2957318/7

[2020-01-17 23:27] Kevinwochan opened #107 "Create sitemap for SEO"
https://support.google.com/webmasters/answer/156184?hl=en&ref_topic=4581190&visit_id=637149002036269621-2191040238&rd=1

[2020-01-22 15:23] r007 commented on #107
Done. Sitemap was added, it will appear in production build after
[code]
Sitemap URL: https://hostname/sitemap.xml

Not perfect, for example last modification date is the same for all URLs, but should do the job.

![sitemap](https://user-images.githubusercontent.com/78280/72906965-86681b80-3d4c-11ea-89b2-2450a4604e98.png)

[2020-01-22 15:23] #107 closed

[2020-01-24 16:02] thomasdane commented on #104
This is not fixed @Kevinwochan @r007 Please verify https://ocius.com.au/live/

[2020-01-26 02:33] #101 closed

[2020-01-26 02:34] Kevinwochan commented on #104
@thomasdane looks good!

[2020-01-31 10:34] Kevinwochan opened #109 "Add article to Media Coverage Page"
https://news.navy.gov.au/en/202001/Fleet/5709/Sea-trials-demonstrate-new-capability-to-manage-AUVs.htm#.XjLE1nlxUwA

[2020-01-31 15:50] #104 closed

[2020-01-31 15:53] thomasdane commented on #98
@Kevinwochan could you ask Robert if people ever need to link directly to a sub section like https://ocius.com.au/about/our-story If not, this may not be needed. It's definitely a bug, but might be a bug that people don't actually encounter?

[2020-02-01 23:16] r007 commented on #91
@thomasdane done. Added rotating text to splash screen (live page). All the changes can be seen on https://www.ocius.cloud/ What do you think of animation?

[2020-02-01 23:16] #91 closed

[2020-02-01 23:18] r007 commented on #99
A pull request was raised, I think we can close this issue. Thanks @Kevinwochan!

[2020-02-01 23:18] #99 closed

[2020-02-03 01:56] Kevinwochan commented on #98
@thomasdane Robert says he doesn't but but he didn't like the unexpected behaviour.

[2020-02-03 02:24] Kevinwochan opened #110 "Only one drone online"
@thomasdane looking at [advanced vew](https://usvna.ocius.com.au/usvna/oc_server), it looks like Bruce is still up

[2020-02-03 02:25] Kevinwochan commented on #109
As well as https://www.amsa.gov.au/news-community/news-and-media-releases/australian-autonomous-vessel-forum-2019

[2020-02-04 02:48] thomasdane commented on #110
Good catch @Kevinwochan I will fix

[2020-02-04 02:50] thomasdane opened #111 "Footer formatting"
The footer on desktop and mobile does not look right. For example on desktop (Chrome on Windows) I think these items should be to the right?

<img width="631" alt="desktop" src="https://user-images.githubusercontent.com/2957318/73709430-e8fad900-46b5-11ea-8de2-e949eb5ccf2b.PNG">

Also on mobile (Brave on Android)

![Screenshot_20200203-184506](https://user-images.githubusercontent.com/2957318/7370

[2020-02-05 22:53] r007 commented on #111
Good catch! I think we can safely remove the "Tech Specs" link, because it is duplicated in "Drones" subsection. Maybe Kevin meant "Media Coverage"? Anyway, I replaced "Tech Specs" with "Media Coverage" here.

Here's how footer looks on mobile now:

![Скриншот сделанный 2020-02-06 в 02 43 28](https://user-images.githubusercontent.com/78280/73890612-d2a67600-488b-11ea-9051-57c3b1ae571e.png)

[2020-02-05 22:53] #111 closed

[2020-02-06 01:05] r007 commented on #109
Done, added them both, take a look:
https://sergey.d3fhwa1e0f950h.amplifyapp.com/media-coverage

Same password. Now all the links are sorted by date starting from the most recent. Feel free to close if you're fine with these changes.

[2020-02-06 04:09] #109 closed

[2020-02-06 05:56] Kevinwochan opened #113 "Convert News articles into Media Coverage post"
These posts should be set to "draft" and a separate card for each link should be added to the Media Coverage page.

- https://ocius.com.au/blog/ADF-at-risk-of-being-left-behind/
- https://sergey.d3fhwa1e0f950h.amplifyapp.com/blog/bob-in-the-news/
- https://ocius.com.au/blog/abc-news-navy-explores-use-of-autonomous-vehicles-for-dangerous-dirty-and-dull-work/
- https://ocius.com.au/blog/ocius-bluebo

[2020-02-06 05:59] Kevinwochan opened #114 "Update people page"
Remove Tracey add Scott

[2020-02-06 06:01] Kevinwochan commented on #114
https://github.com/ocius/website/commit/ea0413ab854e8525698c67f8a179b3a27c01797c

[2020-02-06 06:11] Kevinwochan opened #115 ""See More" on Media Coverage page"
Pagination or endless scroll

[2020-02-06 06:27] Kevinwochan opened #116 "Digitise bluebottle overview"
https://ocius.com.au/usv#overview

At the moment the overview is just an image. The new overview should have
- updated content from page 1 of "Quadchart - OciusBluebottle"
https://drive.google.com/open?id=1HFJuMo9T1tL1HkkaDyQ1a_UrplCpIYii
- copy-paste'able text
- animations
- the images in circles should be linked to OCIUS's video demonstrations

[2020-02-06 06:28] Kevinwochan opened #117 "Update bluebottle overview with overview from PAC2019"
https://ocius.com.au/usv#overview

The new image should be page 1 of "Quadchart - OciusBluebottle"
https://drive.google.com/open?id=1HFJuMo9T1tL1HkkaDyQ1a_UrplCpIYii

Images if needed can be found in this zip file
https://drive.google.com/open?id=1gIcv8yRcVyV4Z_g8RZoHcMk0zEZngXaw

This is a temporary update before https://github.com/ocius/website/issues/116 is completed

[2020-02-06 06:49] Kevinwochan opened #118 "Advanced view link broken"
https://ocius.com.au/live

[2020-02-06 08:27] Kevinwochan commented on #118
fixed in 20055d8a3bea9947e2d738d83639c7320fca620c

[2020-02-07 03:30] Kevinwochan commented on #118
Edited the Button component to handle outbound links
https://github.com/ocius/website/commit/efcf85db9296e1409859b2684d31520bf4ab0946
I'll add stricter type and href checking

[2020-02-07 04:33] Kevinwochan commented on #117
https://github.com/ocius/website/commit/9426d1955e5420b1fda52e7490bf34dfebaaf550

[2020-02-07 05:00] Kevinwochan commented on #100
https://github.com/ocius/website/commit/8b8b1f35c1e0182b9d69322f90b400f158556923

[2020-02-07 05:00] #100 closed

[2020-02-07 05:03] Kevinwochan commented on #100
https://github.com/ocius/website/pull/96

[2020-02-12 07:08] #118 closed

[2020-02-12 07:08] #117 closed

[2020-02-12 07:08] #114 closed

[2020-02-13 02:31] thomasdane commented on #110
This is now resolved.

[2020-02-13 02:31] #110 closed

[2020-02-13 04:42] Kevinwochan commented on #107
Just an update from my end, Look good! Google has indexed these
![Screenshot from 2020-02-13 15-41-51](https://user-images.githubusercontent.com/18486383/74402133-7dfc8f80-4e77-11ea-88b4-be2132291055.png)

[2020-02-18 15:46] thomasdane commented on #115
@Kevinwochan this is something we could talk to the designer about after the about page bake-off. Pagination might be better because endless scroll can make it hard to reach the footer in some cases, but I'd love to see what the designer says.

[2020-02-19 08:47] Kevinwochan commented on #115
Sounds fair, we dont want to put hours into devi'ng this for it to be unusable for the designer.
I'll make the bake off the highest priority then.

[2020-02-20 01:00] r007 commented on #113
Done. All the posts was set to draft and moved to media coverage page. Please check if I did it correctly or not:
https://sergey.d3fhwa1e0f950h.amplifyapp.com/media-coverage

Closing it for now.

[2020-02-20 01:00] #113 closed

[2020-02-20 01:36] r007 commented on #115
@thomasdane @Kevinwochan I thought about it, but there are only 14 cards at the moment. Not sure if this will be practical right now. Good point about footer. I would suggest to add filters + pagination (like in blog). But I'll wait until designer say his/her own word.

[2020-02-20 02:11] r007 commented on #107
@Kevinwochan nice! Let me know if you need any adjustments.

[2020-02-28 00:16] Kevinwochan opened #123 "Update people page"
Use Roberts new photo
- new image should match the others
- bilge hole needs to be edited out

Scott Ellice-Flint
- image darkened

[2020-02-28 03:26] Kevinwochan commented on #123
https://github.com/ocius/website/tree/people

I've made the code edits, waiting for https://github.com/ocius/website/pull/122 to go through before i merge this on my branch

[2020-02-28 03:35] Kevinwochan opened #124 "Live page drone video not loading on iphone"
(issue it already solved just noting it here in case we run into it again)

On iOS safari, the popup is not loading.

Tom solved this using &nowebp on the url to make sure you get a jpg image rather than a new webp type image.
Most browsers will handle the webp images apart from Safari on mac iphone and ipad.

[2020-02-28 03:35] #124 closed

[2020-02-28 03:42] Kevinwochan opened #125 "Drone video timestamp"
![Screenshot from 2020-02-28 14-37-55](https://user-images.githubusercontent.com/18486383/75508435-3f023880-5a38-11ea-9569-4e049c820a5a.png)

Roberts request:
- show timezone
- show only up to nearest minute

[2020-02-28 04:35] Kevinwochan commented on #125
i'll chase this up with Lloyd

[2020-02-28 04:38] Kevinwochan opened #126 "Make the LIVE page menu more distinguishable on mobile"
![Screenshot from 2020-02-28 15-37-09](https://user-images.githubusercontent.com/18486383/75510798-39a8ec00-5a40-11ea-9e49-272bb574d915.png)

At the moment the OCIUS logo is very close to the menu button. Robert will sometimes tap on the OCIUS logo instead.

[2020-02-28 04:38] Kevinwochan commented on #126
waiting on feedback from UI designer

[2020-02-29 03:13] thomasdane commented on #66
This is now complete. Code needs cleanup but some tests here https://github.com/ocius/api/blob/master/Services/GetCameraNames/src/GetCameraNamesTests/FunctionTests.cs

[2020-02-29 03:13] #66 closed

[2020-03-01 23:03] Kevinwochan opened #127 "Drone video feed down"
![Screenshot from 2020-03-02 09-51-44](https://user-images.githubusercontent.com/18486383/75635759-ad2f4100-5c6c-11ea-831d-1b7dba0969a9.png)
![Screenshot from 2020-03-02 09-51-24](https://user-images.githubusercontent.com/18486383/75635760-adc7d780-5c6c-11ea-8888-ff8829d121cc.png)

https://api.ocius.com.au/drones
![Screenshot from 2020-03-02 10-02-13](https://user-images.githubusercontent.com/1848

[2020-03-08 13:05] #127 closed

[2020-03-11 02:35] Kevinwochan opened #128 "bluebottle overview icon behaviour"
Currently the bluebottle overview icons open a new tab to parts of a video that demonstrates that component.

This is very intrusive to the viewing experience of the entire website.

Possible solutions could be a slider text which changes the main image when an icon is clicked.

[2020-03-11 02:35] Kevinwochan commented on #128
This issue is listed as "wontfix" pending a designer to be onboarded.

[2020-03-11 14:15] Kevinwochan opened #129 "Add ADM March 2020 media coverage"
Title: ADM March Lee Goddard talks about BB
source: ADM March 2020 p56
link: https://www.australiandefence.com.au/adm/digital-editions/adm-march-2020

[2020-03-11 14:16] Kevinwochan commented on #129
https://github.com/ocius/website/tree/adm-march-2020

[2020-03-19 08:58] #116 closed

[2020-04-02 06:47] #123 closed

[2020-04-06 04:00] #129 closed

[2020-04-27 23:42] Kevinwochan opened #135 "Water depth telemetry"
![image](https://user-images.githubusercontent.com/18486383/80431238-42c91300-8934-11ea-81cd-11f5abccdce6.png)

The numbers match up with mav status, i'll double check what units this is supposed to be in with Lloyd.

[2020-04-27 23:47] Kevinwochan opened #136 "Inconsistent map info"
My windows machine displays a trail but my linux machine and mobile phone do not.
I opened the page on each device at around the same time (5 minutes).
![image](https://user-images.githubusercontent.com/18486383/80431590-342f2b80-8935-11ea-941e-3af8c1de758c.png)

[2020-04-27 23:47] Kevinwochan commented on #136
![image](https://user-images.githubusercontent.com/18486383/80431633-4f9a3680-8935-11ea-8cdf-3ed383f999a1.png)

[2020-04-28 00:12] Kevinwochan commented on #135
Looks like the water level normalises once it's in the water
![image](https://user-images.githubusercontent.com/18486383/80432478-b3bdfa00-8937-11ea-90cf-98a695703763.png)

[2020-04-28 00:12] #135 closed

[2020-04-28 12:06] r007 commented on #136
Hey @Kevinwochan. I've been using Linux for whole time while I developed this page. Never had any issues with trails. The trail was made using [Polyline component](https://developers.google.com/maps/documentation/javascript/examples/polyline-simple?hl=ru) and is provided by Google itself. I don't think that Google would miss something obvious like cross browser issue. Plus, trail data is shown for

[2020-04-28 21:44] Kevinwochan commented on #136
@r007 yes it's probably not OS issue, i just thought i'd give as much information as possible.

It may have been my devices timing out on fetching the trail data. I'll post more info if it does happen again.

[2020-04-28 22:15] Kevinwochan opened #138 "Advanced view splash screen"
Please make the button that says "Advanced view" say "laptop view" - and when you press it say "please be patient - connecting to satellite"

[2020-04-28 22:26] Kevinwochan opened #139 "Make Bluebottle labels clickable"
When a user clicks on a boat's label. The popup for that vessel should show up.

Currently this mostly works on Desktops as the clickable area around the boat includes the label.

![Peek 2020-04-15 19-36](https://user-images.githubusercontent.com/18486383/80543537-6c487400-89f2-11ea-8be0-e63e9eb14953.gif)

[2020-04-28 22:33] Kevinwochan commented on #139
@r007 tapping on the boat's label seems to be working for me. Does it work for you?

![Peek 2020-04-29 08-30](https://user-images.githubusercontent.com/18486383/80544149-b7af5200-89f3-11ea-93a9-84ecf0304e85.gif)

[2020-04-29 01:32] Kevinwochan opened #140 "Renaming info panel Sensor Data and Power Status"
![Screenshot from 2020-04-29 11-30-40](https://user-images.githubusercontent.com/18486383/80553361-eb4aa600-8a0c-11ea-95e8-35deb26881d3.png)

"the menu on the left comes up as Vessel Status as default - can we make the default - Power Monitor."

So "Sensor Data" -> "Vessel Status"
"Power Status" -> "Power Monitor"

[2020-04-29 03:56] #138 closed

[2020-04-29 22:51] r007 commented on #139
@Kevinwochan I have no control over it, these are Google Maps API.

Markers documentation:
https://developers.google.com/maps/documentation/javascript/markers
https://tomchentw.github.io/react-google-maps/#marker

They have options to change icon, label, font size, opacity, but no such thing as "make labels clickable".

[2020-04-29 22:56] r007 commented on #140
Done, did that. See #137

[2020-04-29 22:56] #140 closed

[2020-04-30 03:04] Kevinwochan opened #141 "Add Van Munster boats"
Please take their logo from https://vanmunsterboats.com/index.php/company/about-us

Then say:

Van Munster Boats is a second-generation family-run business at the forefront of building carbon fibre hulls and structures for race yachts

VMB work with the best composite engineers and industry's leading naval architect’s to turn original conception into reality.

They deliver products that meet the h

[2020-04-30 03:04] Kevinwochan opened #142 "Remove Geoff Zuber"

[2020-04-30 03:21] Kevinwochan opened #143 "Resize partner logos into uniform dimensions"

[2020-05-04 05:07] Kevinwochan commented on #142
@r007 thanks! sorry, i should have assigned this to myself as soon as i started working on it. I'll be sure to do that in the future.

[2020-05-05 22:03] r007 commented on #142
@Kevinwochan no problem! :) Just trying to keep everything organized.

[2020-05-09 01:59] #142 closed

[2020-05-09 02:02] #141 closed

[2020-06-11 06:21] Kevinwochan opened #148 "Add jobs to the careers page"
This google drive folder contains 3  documents that describe each role to be added to the careers page https://ocius.com.au/careers

https://drive.google.com/drive/folders/1qYhVcUOJroceQj9-T7I4beeu2CX-NG-N

[2020-06-11 06:33] Kevinwochan commented on #136
I havent been able to replicate this, closing this issue

[2020-06-11 06:33] #136 closed

[2020-06-11 06:34] Kevinwochan commented on #125
![image](https://user-images.githubusercontent.com/18486383/84352864-753b8080-ac01-11ea-89d8-cd4cd65fd845.png)

[2020-06-11 06:34] #125 closed

[2020-06-14 19:37] Kevinwochan commented on #148
@r007 bump :smile:

[2020-06-14 21:13] r007 commented on #148
@Kevinwochan hey, sorry was a bit busy. Alright will add them all. Should I make a separate page for each vacancy? With a dropdown in navbar, right?

[2020-06-14 21:37] Kevinwochan commented on #148
@r007 No worries! just making sure you saw this.
yes, separate page for each vacancy sounds good.
I'm worried about the navbar becoming too cluttered, would having a few rows on the careers page like this fit our website?

![Screenshot from 2020-06-15 07-33-13](https://user-images.githubusercontent.com/18486383/84604629-b326f600-aeda-11ea-8eb1-6bee29dfb3c7.png)

[2020-06-16 07:05] Kevinwochan opened #149 "Add news of new contract"
https://www.minister.defence.gov.au/minister/melissa-price/media-releases/growing-australias-defence-industry-through-innovation

[2020-06-17 04:49] #149 closed

[2020-06-17 04:53] Kevinwochan opened #152 "Add OPV mention"
Bluebottles mentioned in ASPI report on OPVs

 https://s3-ap-southeast-2.amazonaws.com/ad-aspi/2020-06/SR%20157%20Offshore%20patrol%20vessels_0.pdf?_AOwnw2b8mlaTyicF09zl2nMTUM81xhK

 "The centrepieces of the government’s naval shipbuilding plan—the Attack-class future submarine program (SEA 1000) and the Hunter-class future frigate program  SEA 5000)—don’t provide significant opportunity for stimu

[2020-06-19 03:13] Kevinwochan opened #154 "NSSN mention"
https://www.nssn.org.au/news/2020/6/19/ocius-bluebottles-to-protect-australias-maritime-borders

Add to media coverage page

[2020-06-24 11:20] #152 closed

[2020-06-26 05:01] Kevinwochan opened #157 "Create Australia Mention"
Media Coverage post
https://www.createdigitalmagazine.org.au/meet-bob-the-bluebottle-an-unmanned-surface-vessel-patrolling-the-seas/

[2020-06-30 03:20] Kevinwochan opened #159 "Add AM to Mark Betwaite's name"

[2020-07-01 10:37] #159 closed

[2020-07-01 10:37] #157 closed

[2020-07-01 10:45] Kevinwochan opened #161 "Updating advanced view url"
It looks like the default page loaded by the usvna server has changed,

the below URL is what viewers should be seeing after opening the advanced view page.
https://usvna.ocius.com.au/usvna/oc_server?page=openlayers.htm

[2020-07-02 02:18] Kevinwochan opened #163 "Snail Trail"
"I) you get snail trail of last 24 hours or the mission?
2) you get power page"
"iii) Can we have a default 'snail trail' of water temp over the last one hour or 24/24 - whatever is easier and then on left you click a menu to change to nil, one hour, one day, one week, since mission started.?"

Pull the last 24hrs of location data from https://api.ocius.com.au/drones/locations?timespan=day and ren

[2020-07-03 04:12] r007 commented on #163
Raised a new pull request, need to seriously rework the API. It doesn't allow to show X amount of hours, plus, most of the data is redundant and not really needed.

[2020-07-03 04:15] r007 commented on #163
What about line representing the water depth, I think it's possible:
https://stackoverflow.com/questions/14379586/drawing-multiple-polyline-with-different-color-using-google-map-api-v3-asp-net

[2020-07-03 06:52] Kevinwochan commented on #163
So remove the heading field?
In the meantime,  could we slice the data received client side?

Awesome!

[2020-07-03 12:38] r007 commented on #163
Not only heading, need to remove redundant camera field as well. Sensors statuses probably too, need only the most recent status. Another approach is to separate location coordinates API and sensor data/status. This way we make two requests. First - initial coordinates load. Second - most recent sensor data. It could be more efficient.

Yes. That's how it works now.

[2020-07-05 13:31] #161 closed

[2020-07-06 02:13] Kevinwochan opened #166 "Handling more statuses for live page"
![image](https://user-images.githubusercontent.com/18486383/86548910-730ade80-bf81-11ea-99f1-9bbd2024e178.png)

Our front end outputs MAV_STATUS_CRITICAL text.  This should be properly formatted like.

![image](https://user-images.githubusercontent.com/18486383/86548941-874edb80-bf81-11ea-96ca-2fe5ceb6d4f7.png)

I'll post a full enum of all possible statuses once i find them.

critical : red
Activ

[2020-07-06 02:13] #154 closed

[2020-07-06 02:14] Kevinwochan opened #167 "Advanced view button on mobile"
The button disappears on small screens

[2020-07-07 04:24] Kevinwochan opened #168 "Add ABC mention to media coverage"
https://www.youtube.com/watch?v=RszikPjP77o
use a still from 1:39 as the thumbnail.

[2020-07-07 04:27] Kevinwochan opened #169 "Add news update using content from mailout"
https://mailchi.mp/c327f03c4754/bluebottle-usvs-permitted-to-operate-autonomously-in-australias-exclusive-economic-zone?e=acd788cfcb

[2020-07-07 04:30] Kevinwochan commented on #148
@r007 any updates on this?

[2020-07-07 04:45] Kevinwochan commented on #167
I can see the CSS intentionally removes the button on small screens so this isn't a bug
I'm assuming this is because the people on mobile should not access the Advanced view.  I'll remove this rule but warn Robert about using the Advanced view on mobile.

[2020-07-08 07:20] Kevinwochan opened #171 "add Defence connect mention"
https://www.defenceconnect.com.au/strike-air-combat/6414-bluebottle-usvs-green-lighted-for-autonomous-operation

[2020-07-09 01:25] #171 closed

[2020-07-09 01:25] #168 closed

[2020-07-09 06:09] #169 closed

[2020-07-12 23:58] Kevinwochan commented on #148
@r007 bump 😄

[2020-07-13 00:53] r007 commented on #148
@Kevinwochan hey, I'm terribly sorry for the delay. Hope will finish today.

[2020-07-17 23:35] r007 commented on #166
Check this out #175, here I added more codes according to [MAVlink status table](https://mavlink.io/en/messages/common.html#MAV_STATE).

- Active - green
- Unitialized, calibrating, standby, boot - yellow
-,Critical, emergency, poweroff, termination - red

Should be fixed now.

[2020-07-20 00:38] #166 closed

[2020-08-05 14:44] Kevinwochan opened #177 "Remove advanced view button"

[2020-08-05 14:45] Kevinwochan opened #178 "Display vessel name on vessel selection"

[2020-08-05 14:46] Kevinwochan opened #179 "Reposition ocius logo on live page"

[2020-08-05 14:47] Kevinwochan opened #180 "hardcode valid vessel water depth"

[2020-08-05 14:47] Kevinwochan opened #181 "Display all 4 vessel batteries"

[2020-08-05 14:47] Kevinwochan opened #182 "Display solar power status"

[2020-08-05 16:37] Kevinwochan opened #184 "Make the menubar more recogniseable"

[2020-08-05 16:39] Kevinwochan commented on #139
this feature has been requested again, this is low priority but i think we should start considering our options if we need alot more features.

[2020-08-09 00:21] #178 closed

[2020-08-09 13:38] r007 commented on #139
@Kevinwochan as you can see, marker label options are very limited:
https://developers.google.com/maps/documentation/javascript/reference/marker#MarkerLabel

There are only:

- color
- fontFamily
- fontSize
- fontWeight
- text

I can't add event listeners to it. I told Robert about this... At the other hand, if he want to modify appearance of the InfoWindow, it's possible with custom Overlay-based

[2020-08-10 06:13] #179 closed

[2020-08-10 06:13] #177 closed

[2020-08-10 06:13] #167 closed

[2020-08-10 06:15] Kevinwochan commented on #180
When you see this invalid number you should display (> 60m)

If the water depth is out side of the range 0 <= water depth <= 60
display '>60m'

[2020-08-11 06:49] Kevinwochan opened #186 "Snail trail looping back to the first data point of location"
![image](https://user-images.githubusercontent.com/18486383/89866193-77ff2580-dbf2-11ea-8d79-56b5a6938af0.png)

[2020-08-11 07:55] Kevinwochan commented on #186
[code]

[2020-08-11 11:24] Kevinwochan commented on #186
I've plotted the data on Google Maps and it looks likes fine.
![image](https://user-images.githubusercontent.com/18486383/89891817-11413280-dc19-11ea-958a-b297b2dc4b5a.png)
Looks like an issue with the front end.

[2020-08-11 13:08] Kevinwochan commented on #186
Found the issue, it appears the api is providing the locations unsorted. We need to sort it ourselves with the timestamp.

[2020-08-11 13:43] Kevinwochan opened #188 "Outdated vessel data"
Looks like an API issue.

[2020-08-14 21:31] Kevinwochan commented on #181
@r007 The API should be changing soon to include the field "Batteries" like in the JSON below ("BatteryA" and "BatteryB" will be removed soon).
Any chance you could make the front end changes to handle this?
[code]

[2020-08-14 21:52] r007 commented on #181
@Kevinwochan yeah, of course. It's not that hard.

[2020-08-18 12:11] #186 closed

[2020-08-23 16:50] #180 closed

[2020-08-23 16:59] Kevinwochan commented on #188
see https://github.com/ocius/website/issues/188

[2020-08-24 01:12] Kevinwochan commented on #182
Ask Lloyd

[2020-08-25 04:22] Kevinwochan commented on #181
@r007 Just caught word that the team requires this feature in the next 24hrs, any chance you could make the change by then?

[2020-08-25 04:32] Kevinwochan opened #191 "News release"
- embed a video in news release
- it needs to be easy to skip to 3 timestamps in the video (see email)

19 August 2020
Official Christening of 'Beth' the Bluebottle
Use Thumbnail - Jill pouring champagne attached

On 19 August 2020, Ocius staff and board and a handful of VIPs gathered at Ocius R&D facility at UNSW to celebrate the christening of “Beth”, the first of 5 next-generation 6.8 metre/22

[2020-08-25 05:32] Kevinwochan opened #192 "Invalid water depth data"
Looks like this is an issue with the API incorrectly interpreting mavstatus.

[2020-08-25 05:37] Kevinwochan commented on #192
https://github.com/ocius/api/issues/20
Issue has been raised with the API

[2020-08-25 05:55] #192 closed

[2020-08-25 06:05] Kevinwochan commented on #181
actually, i've got abit of time today. I'll take this one to make sure they've got it, no stress.

[2020-08-25 06:58] Kevinwochan opened #193 "Battery bar accuracy"
https://github.com/ocius/api/issues/21

how we're calculating the battery percentage doesn't look right. We need a max value/% being served by the API though.

[2020-08-26 05:11] Kevinwochan opened #195 "Keep the map centered on a selected vessel"

[2020-08-26 05:14] Kevinwochan opened #196 "Animations between fetching data from the API"
Just something to keep the users' eyes busy

[2020-08-26 05:15] Kevinwochan opened #197 "Graphical display of wind data"
not sure how we'll tackle this.

[2020-08-26 11:00] r007 commented on #197
@Kevinwochan wind rose is a chart, we can use an existing component, such as
https://www.npmjs.com/package/react-windrose-chart

But it requires a bunch of data for each angle. Maybe something simpler will fit better here...

Another approach is to display the wind map itself.

![intro4](https://user-images.githubusercontent.com/78280/91295822-b5e07a00-e7ac-11ea-92b8-53a217762e88.gif)

[2020-08-27 01:38] #191 closed

[2020-08-27 01:38] #181 closed

[2020-09-01 07:14] Kevinwochan opened #202 "Removing API keys"
I've fixed up the Amplify side of things, API keys will now be available from the environment variable GATSBY_GOOGLE_MAPS_API_KEY inline with Gatsby's documentation for OS environment variables. https://www.gatsbyjs.com/docs/environment-variables/#additional-environments-staging-test-etc.

[2020-09-01 07:29] Kevinwochan commented on #202
API keys are visible client side regardless low priority.

[2020-09-01 12:24] r007 commented on #202
Nice. I think this can be closed now. Before we used domain restriction as some kind of protection against unauthorized use :)

[2020-09-01 12:24] #202 closed

[2020-09-01 14:48] Kevinwochan commented on #163
@r007 any recommendations on how we might create a legend?

at the moment i'm considering these options:
- a hardcoded image (svg/png)
- https://www.npmjs.com/package/d3-legend
- writing my own html

[2020-09-01 14:50] Kevinwochan commented on #163
Here is the end output i'm looking for
![IDYOC300 NSW SST 24](https://user-images.githubusercontent.com/18486383/91866797-3b38c280-ecb6-11ea-8f14-d00232119438.png)

[2020-09-01 16:55] r007 commented on #163
@Kevinwochan For legend I think this one can be used: https://www.npmjs.com/package/react-horizontal-stacked-bar-chart
D3 Legend might be a good choice as well.

But to display temperature itself you can use the [heat map layer](https://react-google-maps-api-docs.netlify.app/#heatmaplayer). It's easiest and most straightforward solution. Also to display temperature you can use [react-sparklines](h

[2020-09-05 08:02] Kevinwochan commented on #163
I ended forking react-horizontal-stacked-bar-chart so that it suited our needs (https://github.com/Kevinwochan/react-stacked-bar-chart). If i have time i'll make an official PR to that project to give back to the community.
https://github.com/ocius/website/tree/temperature-scale-vertical

I've made a few implementations of the colored snail trail to see what would best graphically represent the da

[2020-09-07 23:27] Kevinwochan commented on #196
I realise this problem is two fold:
a) Users should be able to see that the page is consistently attempting to update itself
b) Users should be able to see when the last successful update was

a) https://www.npmjs.com/package/react-native-progress in between fetches
b) Add a "last updated: " to Vessel Status showing the most recent data timestamp available

[2020-09-11 01:03] Kevinwochan opened #214 "Snail Trail does not update"
![image](https://user-images.githubusercontent.com/18486383/92835319-6f328700-f41e-11ea-91f0-26b825635cea.png)

[2020-09-11 01:05] Kevinwochan commented on #163
JSON data to test snail trial colors
[code]

[2020-09-19 23:18] #193 closed

[2020-09-19 23:18] #214 closed

[2020-10-15 04:47] Kevinwochan opened #225 "Serve Beth and Bruce"
Requires this done first https://github.com/ocius/api/issues/30

[2020-10-22 00:54] #225 closed

[2020-11-10 05:01] #196 closed

[2020-11-10 05:03] Kevinwochan commented on #139
Robert has request this again. I'll talk to him about the cost.

[2020-11-30 00:20] Kevinwochan opened #232 "Quote attribution"
The quote "Satellites of the Sea" needs to be attributed to Robert Dane CEO. I'll speak to Chris on how this should look.

[2021-01-06 07:27] Kevinwochan commented on #197
Robert has requested this feature again

[2021-01-11 04:10] Kevinwochan commented on #197
https://github.com/ocius/website/issues/197

[2021-02-11 23:59] LorenzoLeeSolano commented on #197
@r007
Data for the wind direction, wind speed, water current direction and water current speed for each drone are now being served by the api. I've listed the units below.

Wind_speed: metres per second
Wind_direction: degrees TRUE(from north)
Current_speed: metres per second
Current_direction: centi-degrees TRUE(degrees * 100)

Also, see this comment Kevin left on the api repo.
https://github.com

[2021-02-12 21:01] r007 commented on #197
@LorenzoLeeSolano awesome! Thanks, I'll show it all on the frontend then.

[2021-02-25 20:17] r007 commented on #197
Done, data has been changed accordingly.

[2021-02-25 20:29] r007 commented on #184
Fixed in new, redesigned version of the website.

[2021-02-25 20:29] #184 closed

[2021-02-25 20:31] r007 commented on #128
Fixed in the new, redesigned version of the website.

[2021-02-25 20:31] #128 closed

[2021-03-03 01:58] LorenzoLeeSolano commented on #197
@r007
Would it be possible to graphically display this data on the front end?

If a full wind rose is overkill for this amount of data, what do you think about something simpler like a wind rose with only one spoke, or maybe just a wind barb?

I can try and double check with Robert about what he wants it to look like if that would help.

[2021-03-09 06:10] LorenzoLeeSolano commented on #195
Robert requested this again today.
Any thoughts?

[2021-03-09 06:14] LorenzoLeeSolano opened #254 "Convert data to nautical miles"
From Robert today:
"Can you make the live page read knots?"

[2021-03-11 00:41] r007 commented on #254
@LorenzoLeeSolano done. Changed as he said. But I'm a little bit confused - is the API data already in knots? Or do I need to convert from m/s to knots? Right now I display it "as is", no conversion is done.

[2021-03-11 00:51] r007 commented on #197
@LorenzoLeeSolano alright, will try to implement it. But I'll an API key from openweathermap.org to show this kind of data.

[2021-03-11 07:55] LorenzoLeeSolano commented on #197
@r007
Is that for additional weather data?
I think Robert just wants it to be based off whichever USV is currently selected, using the weather data provided by the api for that USV. Is that possible?

[2021-04-27 10:18] LorenzoLeeSolano commented on #254
I'm actually not quite sure what the unconverted units are in. I'd presume they're in knots, but I'll double check next time I talk to Matt.

[2021-04-27 10:18] #254 closed

[2021-04-27 10:25] LorenzoLeeSolano commented on #197
@r007
Just just updating this with the new info from Robert:
![WindRose](https://user-images.githubusercontent.com/68361987/116226238-17bb0e80-a796-11eb-81a4-e11fd93ae245.png)
He specified a wind rose like the one above, with wind speed and direction in white, and current speed and direction in red.
Do you think it would be possible to achieve this with the wind/current data for a selected USV?

[2021-04-27 10:55] LorenzoLeeSolano opened #259 "Displaying map scale"
![Screen Shot 2021-04-22 at 10 35 43 am](https://user-images.githubusercontent.com/68361987/116228030-20144900-a798-11eb-919a-97fa4ac089a5.png)
How difficult do you think this would be to achieve?

[2021-04-30 03:48] r007 commented on #259
Not too hard, surely will add.

[2021-04-30 03:51] r007 commented on #197
@LorenzoLeeSolano oh, this looks nice! Of course it is possible, I'll work on it on weekends, I think should not be too hard. Basically just a circle with an arrow.

[2021-05-01 03:36] LorenzoLeeSolano opened #261 "Show Air Temperature on the Live page."
This can be found under `"Air_temp"` from the API, and should be in the same units as `"Water_temp"`.

Additionally, Robert wants
**Current Direction**, **Current Speed**,
**Wind Direction**, **Wind Speed**,
to be removed from the side bar, as they'll instead be graphically displayed :).

[2021-05-02 06:57] LorenzoLeeSolano commented on #261
@r007
Would you be happy to do this as well?

[2021-05-02 06:59] r007 commented on #261
@LorenzoLeeSolano yeah, sure.

[2021-05-12 11:28] LorenzoLeeSolano commented on #197
@r007
Just documenting this here, the wind rose should have wind speed and current speed in knots,
as per Robert's email.

Let me know if I can help clarify anything. Thanks!

[2021-05-12 18:09] r007 commented on #197
@LorenzoLeeSolano ah... okay, replaced back units. Still working on the rose thing...

[2021-05-17 15:17] r007 commented on #197
Done. The wind rose is implemented. Need to check if direction is correct.
https://ocius.com.au/live/

[2021-05-18 00:42] r007 commented on #259
Done, added this indicator.

![indicator](https://user-images.githubusercontent.com/78280/118573349-69522a00-b793-11eb-950b-9d7ebd1f4aec.png)

[2021-05-18 00:42] r007 commented on #261
Done, removed everything.

[2021-05-18 02:36] LorenzoLeeSolano commented on #197
@r007 Looks great!
I think the directions might be off though. See #271
Angles are from north, but I think the arrow's must be pointing west before rotation.

[2021-05-18 02:37] #261 closed

[2021-05-18 02:51] r007 commented on #197
@LorenzoLeeSolano yeah, I was not exactly sure about directions. But thanks for the correction!

[2021-05-19 11:43] r007 commented on #259
Modified the style just a little bit as Robert said. Closing the issue now.

![scale](https://user-images.githubusercontent.com/78280/118807057-e1fed680-b8b8-11eb-90f6-54d77d3fc037.png)

[2021-05-19 11:43] #259 closed

[2021-05-19 11:44] r007 commented on #197
I guess it can be closed now.

[2021-05-19 11:44] #197 closed

[2021-05-19 11:45] r007 commented on #126
Not relevant any more. Closed.

[2021-05-19 11:45] #126 closed

[2021-05-19 11:48] r007 commented on #188
Not relevant any more. Closed.

[2021-05-19 11:48] #188 closed

[2021-06-23 07:15] LorenzoLeeSolano opened #279 "Select a vessel in the side bar when its icon is clicked on the map."
Request from Robert:

@r007 Do you think this is doable?

In other words, when a vessels icon on the map is clicked, that vessel is selected in the side bar and its information is displayed.

[2021-06-27 09:06] LorenzoLeeSolano opened #281 "USV Status should display either "Active" or "Inactive""
See https://github.com/ocius/api/issues/54

[2021-06-27 11:18] #281 closed

[2021-07-28 11:35] LorenzoLeeSolano commented on #279
Robert requested this feature again today.

[2021-08-06 11:24] r007 commented on #279
@LorenzoLeeSolano oh... I see now. Will to fix today.

[2021-08-10 02:09] #279 closed

[2021-08-10 02:10] r007 commented on #279
Phew, this is fixed now.

[2021-10-04 01:37] LorenzoLeeSolano opened #292 "Images unavailable at default zoom level."
@r007
It looks like we're zooming in past the maximum zoom for satellite images in some areas:
![Screen Shot 2021-10-04 at 12 30 21](https://user-images.githubusercontent.com/68361987/135781356-56cb6f21-8441-4826-8b98-b457a473f81c.png)
Can we limit this based on[ `google.maps.MaxZoomService`](https://developers.google.com/maps/documentation/javascript/maxzoom): `getMaxZoomAtLatLng()`?

[2021-10-05 01:54] LorenzoLeeSolano opened #293 "Change USV icon colors on live page."
@r007

From Robert:
Can we make

This is for the body of each icon.
The sails should all be black.

What do you think is the best way of approaching this?

[2021-10-05 11:37] r007 commented on #292
@LorenzoLeeSolano good idea! Done, issue with max zoom is fixed (https://github.com/ocius/website/pull/294).

[2021-10-05 11:37] #292 closed

[2021-10-05 11:46] r007 commented on #293
@LorenzoLeeSolano currently all the colors are assigned randomly depending on their index # in API response. But you can explicitly add an additional parameter on the backend to each boat - ```boatColor```. This way, I'll parse the boat parameters on the frontend and assign specified color.

[2021-10-05 23:48] LorenzoLeeSolano commented on #293
@r007 Sounds good!
Ill add `boatColor` for the primary color
I'll also add `sailColor` for the secondary icon color in case we want to customise that later.
Do you want the colors as hexcodes or as named colors (e.g. `'red'`, `'blue'`) which you'll map to a specific hexcode?

[2021-10-16 09:07] LorenzoLeeSolano opened #312 "Display Contacts on live page"
1. On the live page, we want to render an icon on the map for each contact (radar, AIS or ADSB) recorded by any of the USVs.
2. When that icon is clicked, a popup should appear containing some relevant data for the contact.
Relevant data we want to display:
 * AIS Contact
[code]
 * ADSB Contact
[code]
 * Radar Contact
[code]

[2021-10-18 09:21] LorenzoLeeSolano opened #314 "Change Live USV name styles."
From Robert:

[2021-10-18 09:23] LorenzoLeeSolano commented on #314
@r007
If you're too busy with other ocius work, I could probably figure out how to implement this?
Up to you.

[2021-10-20 09:39] LorenzoLeeSolano opened #315 "Adding SOG and Air pressure to live page"
From Robert:

SoG and air pressure should be now be available via the API (named `Sog` and `AirPressure`)
These are new props, could you please add them to the live page?
Let me know if you need any more info.

[2021-10-20 10:12] LorenzoLeeSolano opened #316 "Boat speed half of actual value"
@r007
https://github.com/ocius/website/blob/f38d6d1cd4d84bf65150b70d91ee2d8378326787/src/components/InfoPanel/VesselStatus.js#L213

I think this value needs to be converted from m/s to knots (multiplied by 1.94384).

[2021-10-21 21:55] #315 closed

[2021-10-21 22:06] r007 commented on #316
@LorenzoLeeSolano Ah, I dunno. I already changed this value several times. I am confused, let me check...

[2021-10-21 22:51] r007 commented on #316
Done, added conversion to knots. https://github.com/ocius/website/pull/319

[2021-10-21 22:51] #316 closed

[2021-10-21 23:50] r007 commented on #312
Ah, dunno about this one. It's a lengthy feature, gonna need a more thoughtful approach. I need to find a time somewhere between my primary job to implement this.

[2021-10-23 12:02] LorenzoLeeSolano opened #323 "No scale on mobile Live page."
#### The scale doesn't seem to be visible on the mobile version of the live page:
![247232580_408935520681534_5129350468382398757_n](https://user-images.githubusercontent.com/68361987/138555206-6742ec15-e089-42f9-b780-02a6303929a7.jpg)

[2021-10-23 23:28] LorenzoLeeSolano opened #324 "Convert air pressure to Millibars"
Robert wants the air pressure on the live page in millibars
conversion is `1 atm == 1013.25 mbar`

[2021-11-01 02:29] LorenzoLeeSolano opened #325 "Change Live page notification message"
@r007
From Robert:

[2021-11-01 14:40] #325 closed

[2021-11-01 14:41] LorenzoLeeSolano commented on #324
@r007 Should be changed now.

[2021-11-01 14:41] #324 closed

[2021-11-02 08:49] r007 commented on #323
Fixed. I changed the way container height is being calculated. It happens because browser controls are not taken into account in vh units.

Link to article:
https://css-tricks.com/the-trick-to-viewport-units-on-mobile/

[2021-11-02 08:49] #323 closed